html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:#292D31;
    }
body{
	background: #292D31;
	color: #BBC4C8;
}
.container{
	display: grid;
	grid-gap: 20px;
	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
	grid-template-columns: repeat(4,1fr);
	justify-items: center;
}
.logo{
	grid-column: 1/-1;
	padding-bottom: 25px;
}
.search_box{
	grid-column: 1/-1;
	padding-bottom: 25px;
	margin-left: -50px;
}
.input_box{
	border: none;
	outline: none;
	background: #191C1E;
	padding: 15px;
	color: whitesmoke;
	font-size: 20px;
	transition: 0.4px all;
	border-radius: 3px 0px 0px 3px;
	width: 400px;
	margin-bottom: 30px;
	/*box-shadow: 3px 4px #0F1011;*/
}
.button{
	background:  #191C1E;
	border-radius: 0px 3px 3px 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 12px;
	padding-right: 12px;
	background:#202326;
	position: absolute;
	border: none;
	/*box-shadow: 3px 4px #0F1011;*/
}
.button:hover{
	background: #373C42;
}
li{
	list-style-type: none;
	padding:5px
}
a:link{
	text-decoration: none;
	color: #9BA8BB;
}
a:visited{
	color: #9BA8BB;
}
a:hover{
	color: #BC4B4F;
}
.category{
	background: #191C1E;
	padding: 20px;
	border: #191C1E;
	border-radius: 3px;
	width:   -moz-available;
	/*box-shadow: 3px 5px #0F1011;*/
}
